Source: proxmox-backup-qemu
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10),
Standards-Version: 3.9.5
Homepage: https://www.proxmox.com

Package: libproxmox-backup-qemu0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Proxmox Backup Server client library for QEMU
 This library contains the library to access the Proxmox Backup server from
 within QEMU.
