Source: proxmox-backup-qemu
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               cargo:native,
               cbindgen,
               git,
               librust-anyhow-1+default-dev,
               librust-bincode-1+default-dev,
               librust-bitflags-2+default-dev (>= 2.4-~~),
               librust-bytes-1+default-dev,
               librust-cbindgen-0.27+default-dev,
               librust-const-format-0.2+default-dev,
               librust-crc32fast-1+default-dev,
               librust-endian-trait-0.6+arrays-dev,
               librust-endian-trait-0.6+default-dev,
               librust-foreign-types-0.3+default-dev,
               librust-futures-0.3+default-dev,
               librust-h2-0.4+default-dev,
               librust-h2-0.4+stream-dev,
               librust-hex-0.4+default-dev (>= 0.4.3-~~),
               librust-hex-0.4+serde-dev (>= 0.4.3-~~),
               librust-hickory-resolver-0.24+system-config-dev (>= 0.24.1-~~),
               librust-hickory-resolver-0.24+tokio-runtime-dev (>= 0.24.1-~~),
               librust-http-body-util-0.1+default-dev,
               librust-hyper-1+default-dev,
               librust-hyper-1+full-dev,
               librust-hyper-util-0.1+client-dev,
               librust-hyper-util-0.1+client-legacy-dev,
               librust-hyper-util-0.1+default-dev,
               librust-hyper-util-0.1+http1-dev,
               librust-hyper-util-0.1+http2-dev,
               librust-hyper-util-0.1+tokio-dev,
               librust-lazy-static-1+default-dev (>= 1.4-~~),
               librust-libc-0.2+default-dev,
               librust-log-0.4+default-dev (>= 0.4.17-~~),
               librust-nix-0.29+default-dev,
               librust-nom-7+default-dev,
               librust-once-cell-1+default-dev (>= 1.5-~~),
               librust-openssl-0.10+default-dev (>= 0.10.40-~~),
               librust-pathpatterns-1+default-dev,
               librust-pbs-api-types-1+default-dev,
               librust-percent-encoding-2+default-dev (>= 2.1-~~),
               librust-pin-project-lite-0.2+default-dev,
               librust-proxmox-async-0.5+default-dev,
               librust-proxmox-auth-api-1+default-dev,
               librust-proxmox-base64-1+default-dev,
               librust-proxmox-borrow-1+default-dev,
               librust-proxmox-compression-1+default-dev,
               librust-proxmox-http-1+body-dev,
               librust-proxmox-http-1+client-dev,
               librust-proxmox-http-1+default-dev,
               librust-proxmox-http-1+http-helpers-dev,
               librust-proxmox-http-1+rate-limiter-dev,
               librust-proxmox-http-1+websocket-dev,
               librust-proxmox-human-byte-1+default-dev,
               librust-proxmox-io-1+default-dev (>= 1.0.1-~~),
               librust-proxmox-io-1+tokio-dev (>= 1.0.1-~~),
               librust-proxmox-lang-1+default-dev (>= 1.1-~~),
               librust-proxmox-log-1+default-dev,
               librust-proxmox-notify-1+default-dev,
               librust-proxmox-notify-1+pbs-context-dev,
               librust-proxmox-router-3+cli-dev,
               librust-proxmox-router-3+server-dev,
               librust-proxmox-schema-4+api-macro-dev,
               librust-proxmox-schema-4+default-dev,
               librust-proxmox-serde-1+default-dev,
               librust-proxmox-serde-1+serde-json-dev,
               librust-proxmox-shared-memory-1+default-dev,
               librust-proxmox-sortable-macro-1+default-dev,
               librust-proxmox-sys-1+default-dev,
               librust-proxmox-systemd-1+default-dev,
               librust-proxmox-time-2+default-dev,
               librust-proxmox-uuid-1+default-dev,
               librust-proxmox-uuid-1+serde-dev,
               librust-proxmox-worker-task-1+default-dev,
               librust-pxar-1+default-dev,
               librust-regex-1+default-dev (>= 1.5.5-~~),
               librust-rustyline-14+default-dev,
               librust-serde-1+default-dev,
               librust-serde-1+derive-dev,
               librust-serde-json-1+default-dev,
               librust-tar-0.4+default-dev,
               librust-tokio-1+default-dev (>= 1.6-~~),
               librust-tokio-1+fs-dev (>= 1.6-~~),
               librust-tokio-1+io-util-dev (>= 1.6-~~),
               librust-tokio-1+macros-dev (>= 1.6-~~),
               librust-tokio-1+net-dev (>= 1.6-~~),
               librust-tokio-1+rt-dev (>= 1.6-~~),
               librust-tokio-1+rt-multi-thread-dev (>= 1.6-~~),
               librust-tokio-1+signal-dev (>= 1.6-~~),
               librust-tokio-1+sync-dev (>= 1.6-~~),
               librust-tokio-1+time-dev (>= 1.6-~~),
               librust-tokio-stream-0.1+default-dev (>= 0.1.1-~~),
               librust-tower-service-0.3+default-dev,
               librust-tracing-0.1+default-dev,
               librust-walkdir-2+default-dev,
               librust-xdg-2+default-dev (>= 2.2-~~),
               librust-zstd-0.13+default-dev,
               librust-zstd-safe-7+default-dev,
               libstd-rust-dev,
               patchelf,
               rustc:native,
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: libproxmox-backup-qemu0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Breaks: pve-qemu-kvm (<< 5.2.0-1),
Description: Proxmox Backup Server client library for QEMU
 This library contains the library to access the Proxmox Backup server from
 within QEMU.

Package: libproxmox-backup-qemu0-dev
Architecture: any
Depends: libproxmox-backup-qemu0 (= ${binary:Version}), ${misc:Depends},
Description: Proxmox Backup Server client library for QEMU development files
 This library contains the library to access the Proxmox Backup server from
 within QEMU.
